HashKnownHosts yes

{{ if eq .chezmoi.os "darwin" -}}
Host *
  UseKeychain yes

{{ end -}}
# Gammadia Servers
Host morkai michel jacquie karl pereblaise marc dave playground
  User root

Host archive sites-web jenkins sloth
  User debian

Host morkai pereblaise sites-web jenkins sloth dave playground
  ForwardAgent yes

Host morkai
  Hostname morkai.gammadia.net

Host michel
  Hostname {{ (index (lastpass "Michel") 0).note.hostname | trim }}

Host jacquie
  Hostname {{ (index (lastpass "Jacquie") 0).note.hostname | trim }}

Host karl
  Hostname {{ (index (lastpass "Karl") 0).note.hostname | trim }}

Host pereblaise
  Hostname 192.168.30.10

Host marc
  Hostname 192.168.5.32

Host dave
  Hostname 192.168.5.33

Host playground
  Hostname 192.168.30.80

Host archive
  Hostname 167.114.239.227

Host sites-web
  Hostname 167.114.236.167

Host jenkins
  User {{ (index (lastpass "Jenkins") 0).note.username | trim }}
  Hostname {{ (index (lastpass "Jenkins") 0).note.hostname | trim }}

Host sloth
  User {{ (index (lastpass "Sloth") 0).note.username | trim }}
  Hostname {{ (index (lastpass "Sloth") 0).note.hostname | trim }}

Host hedwig
  User {{ (index (lastpass "Hedwig") 0).note.username | trim }}
  Hostname {{ (index (lastpass "Hedwig") 0).note.hostname | trim }}

Host torbjorn
  User {{ (index (lastpass "Torbjorn") 0).note.username | trim }}
  Hostname {{ (index (lastpass "Torbjorn") 0).note.hostname | trim }}
  Port {{ (index (lastpass "Torbjorn") 0).note.password | trim }}

Host infomaniak-gammadia
  User {{ (index (lastpass "Infomaniak Gammadia.ch") 0).note.username | trim }}
  Hostname {{ (index (lastpass "Infomaniak Gammadia.ch") 0).note.hostname | trim }}

Host pfsense
  User admin
  Port 2222
  Hostname 192.168.5.1

Match host *.gammadia.net
  VerifyHostKeyDNS yes
  StrictHostKeyChecking yes

