export GIT_AUTHOR_NAME="Bastien Clément"
export GIT_AUTHOR_EMAIL="bastien.clement@gammadia.ch"
export GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
export GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL

export OS_CLOUD=gammadia-ovh

{{ with (index (lastpass "Gammadia OVH OpenStack") 0).note }}
export OS_AUTH_URL="https://auth.cloud.ovh.net/v3/"
export OS_IDENTITY_API_VERSION=3
export OS_USERNAME="{{ .username | trim }}"
export OS_PASSWORD="{{ .password | trim }}"
export OS_TENANT_ID="{{ .tenantId | trim }}"
export OS_TENANT_NAME="{{ .tenantName | trim }}"
{{ end }}